@import "../../node_modules/bulma/css/bulma.css";
@import "font-awesome-4.7.0/css/font-awesome.css";
@import "aside.css";

.table
{
    width:100%;
}

.table thead tr
{
    background-color: lightgreen;
}

.card+ .card
{
	margin-top:20px;
}