<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" href="#">Welcome Doctor</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse order-1" id="navbarColor01">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<NavLink class="nav-link" href="/doctor/home" Match="NavLinkMatch.All">
					Home
				</NavLink>
			</li>
			<li class="nav-item">
				<NavLink class="nav-link" href="/doctor/clients">
					Clients
				</NavLink>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" @onclick="() => expandSubNavSettings = !expandSubNavSettings">
					Manage
				</a>
				@if (expandSubNavSettings)
				{
				<ul class="dropdown-menu show">
					<li><NavLink class="dropdown-item" href="/doctor/forms" @onclick="() => expandSubNavSettings = false">Forms</NavLink></li>
					<li><hr class="dropdown-divider"></li>
					<li><NavLink class="dropdown-item" href="/doctor/users" @onclick="() => expandSubNavSettings = false">Users</NavLink></li>
				</ul>
				}
			</li>
			<li class="nav-item">
				<NavLink class="dropdown-item" href="/doctor/forms">Forms</NavLink>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<a class="btn btn-outline-dark" href="/logout" target="_top">
				Log out
			</a>
		</form>
	</div>
</nav>

@code {

	private bool expandSubNavSettings = false;
}

