@import "bulma/css/bulma.css";
@import "aside.css";

.table
{
    width:100%;
}

.table thead tr
{
    background-color: lightgreen;
}

.is-active-upcoming {
    display: block;
}

.in-active-upcoming {
    display: none;
}

.is-active-frequent {
    display: block;
}

.in-active-frequent {
    display: none;
}

.is-active-recent {
    display: block;
}

.in-active-recent {
    display: none;
}
