<nav class="navbar is-primary shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="#">
            <img src="~/logo.png" width="112" height="28" />
            Welcome to DoctorAssist
        </a>
    </div>

    <div id="navbar" class="navbar-menu">
        <div class="navbar-end">
            <Login/>
        </div>
    </div>
</nav>

